@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Metropolis";
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #686f7c;
  border-radius: 10px;
}

.text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: red;
  transform: translateX(-50%);
  transition: width 800ms ease;
}

.text:hover::after {
  width: 50%;
}

.sale_text::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: red;
}
